.card {
    border: solid;
    border-color:#7A7D7D ;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #fffbfe;
}

.proj-card {
    display: flex;
    background-color: #fffbfe;
    width: 90%;
    padding: 5px;
    margin: 10px;
    max-width: 1200px;
}

.proj-img-container {
    width: 50%;
}

.proj-img-container img {
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 100%;
}

.proj-card-content {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}