#resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

#skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #525353;
}

#skills-container h3 {
    margin:7px;
}

#resume {
    width: 100%;
    height: 80vh;
}



