#resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #525353;
}

#skills-container h3 {
    margin:7px;
}

#resume {
    font-size: 35px;
    color: blue;
}

#resume:hover {
    color: purple;
}


